/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.css';
.s1 {
    font-weight: bold;
}

.s2 {
    font-style: italic;
    font-weight: lighter;
    color: darkgray;
}

.nav-link,
.nav-p {
    color: darkgray;
}

.d1 {
    padding-top: 20px;
}
