<div class="navbar-form " role="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search settings" name="srch-term" id="srch-term" style="max-width: 100%; width: 100%;border: 1px solid cadetblue;margin-left: 1px;margin-right: 1px;margin-top: 1px;">

    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " href="#">User Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Workspace Settings</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="d-flex align-items-start">
    <nav id="navbar-example3" class="navbar navbar-light bg-white" style="width: 20%;">


        <nav class="nav nav-pills flex-column" style="float: left;">
            <p class="nav-p">Commonly Used</p>
            <a class="nav-link" href="#item-1">Text Editor</a>
            <a class="nav-link" href="#item-2">Workbench</a>
            <a class="nav-link" href="#item-3">Window</a>
            <a class="nav-link" href="#item-3">Features</a>
            <a class="nav-link" href="#item-3">Application</a>
            <a class="nav-link" href="#item-3">Extentions</a>




        </nav>
    </nav>
    <div class="tab-content" id="v-pills-tabContent" style="margin-top: 10px; margin-left: 10px;">
        <h3>Commonly Used</h3>

        <div class="d1">
            <p>Files : <span class="s1"> Auto Save</span> <span class="s2"> (modified in: User)</span></p>
            <p>Controls auto save of dirty files.Read more about autosave <span class="text-primary"> here.</span></p>
            <select class="custom-select" id="gender2">
        <option selected>Off</option>
        <option value="1">On</option>

      </select>
        </div>
        <div class="d1">
            <p>Files : <span class="s1">Auto Save Delay</span></p>
            <p>Controls the delay in ms after which a dirty file is saved automatically.Only applies when <span class="text-primary"> Files : Auto Save </span> is set to <span class="text-danger"> afterDelay.</span></p>
            <input type="text" placeholder="1000">
        </div>
        <div class="d1">
            <p>Editor : <span class="s1"> Font Size</span></p>
            <p>Control the font size in pixels</p>
            <input type="text" placeholder="12">
        </div>
        <div class="d1">
            <p>Editor : <span class="s1"> Font Family</span> <span class="s2">(modified in: User)</span></p>
            <p>Control the font family.</p>
            <input type="text" placeholder="Menlo,Monaco,'Courier New',monospace" style="width: 50%;">
        </div>
    </div>
</div>
